/*
  colors
*/
$background-gray: #eee;
$main: #391bc5;
$text: #555;
$sub-text: #999;
$white: #fff;
$gray: #f5f5f5;
$placeholder: #ccc;
$black: #333333;
$blue: #2d9cdb;
$line: #eaeaea;
$yellow: #ffcf01;
$red: #d82f57;