<div>
	<header>
		<h1>MUSIC SNS!!!</h1>
		<% if current_user.nil? %>
			<form action="/signin" method="post">
				<input name="name" placeholder="ユーザー名">
        <input name="password" type="password" placeholder="パスワード">
        <input type="submit" value="ログイン">
		<% end %>
	</header>
	<section>
		<h2>最新の投稿</h2>
		<ul style="list-style: none;">
			<% @musics.each do |music| %>
			<li>
				<p><img src="<%= music.img %>"></p>
				<p>artist:<%= music.artist %></p>
				<p>コメント:<%= music.comment %></p>
				<p>投稿者:<%= music.user.name %></p>
			</li>
			<% end %>
		</ul>
	</section>
</div>