<div align="center">
	<header class="first-view center-vertical" background="mike.jpg">
		<h1>MUSIC SNS!!!</h1>
		<% if current_user.nil? %>
			<form action="/signin" method="post">
				<input name="name" placeholder="ユーザー名">
        <input name="password" type="password" placeholder="パスワード">
        <input type="submit" value="ログイン">
		<% end %>
	</header>
	<section class="center-vertical">
		<h2>最新の投稿</h2>
		<div class="container-fluid">
			<ul>
			<% @musics.each do |music| %>
        <div class="card">
					<li><img src="<%= music.img %>" class="card-img-top"></li>
					<div class="card-body">
					<li>artist:<%= music.artist %></li>
					<li>コメント:<%= music.comment %></li>
					<li>投稿者:<%= music.user.name %></li>
					</div>
				</div>
			<% end %>
			</ul>
		</div>
	</section>
</div>