<div align="center">
<h1 style="color:red;">※拡散厳禁※</h1>
<h1><a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A12e0c2df-3d23-4a4e-bb79-505c3e8077f2">理学部</a><h1>
<h1><a href=https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A38efd867-fea0-41d8-ab43-5fb4fcc1eac7>医学部</a><h1>
<h1><a href=https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A5e40f40b-0455-4d00-a375-d8d8bad8914c>工学部</a></h1>
<h1><a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A93fb3767-0529-4f55-9c5b-30ae37997f12">農学部</a><h1>
<h1><a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A486333a1-2b76-4ba3-b22e-34ce6beb44ac">文学部</a><h1>
<h1><a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A89de2446-b078-4b07-8045-edc10506e63c">教育学部</a><h1>
<h1><a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A9dd77058-f75e-41f1-ae61-fe06c3314cac">法学部</a><h1>
<h1><a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A142320a3-772e-46a6-b182-79e9b41fa3e1">経済学部</a><h1>
<ul>
<h1>情報学部<h1>
<li><a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A4dba16c4-6c65-4ad1-a85c-c38751fcff42">文系</a></li>
<li><a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A7a975ac6-10ee-4f22-b2ad-121a6c46ca02">理系</a></li>
</ul>
</div>