<div align="center">
<h1><a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A1110d04b-709e-4b16-bb10-17a28883556b">テスト</a></h1>
<h1><a href="/rigaku">理学部</a><h1>
<ul>
<h1>医学部保健学科<h1>
<li><a href="/kango">看護学専攻</a></li>
<li><a href="/housya">放射線技術科学専攻</a></li>
<li><a href="/kensa">検査技術科学専攻</a></li>
<li><a href="/rigakuryoho">理学療法学専攻</a></li>
<li><a href="/sagyoryoho">作業療法学専攻</a></li>
</ul>
<ul>
<h1>工学部</h1>
<li><a href="/kasei">化学生命工学科</a></li>
<li><a href="/buturi">物理工学科</a></li>
<li><a href="/mate">マテリアル工学科</a></li>
<li><a href="/denzyo">電気電子情報工学科</a></li>
<li><a href="/kikou">機械・航空宇宙工学科</a></li>
<li><a href="/eneri">エネルギー理工学科</a></li>
<li><a href="/kentiku">環境土木・建築学科</a></li>
</ul>
<ul>
<h1>農学部<h1>
<li><a href="/seibutu">生物環境科学学科</a></li>
<li><a href="/sizenseibutu">資源生物科学学科</a></li>
<li><a href="/ousei">応用生命科学学科</a></li>
</ul>
<h1><a href="/bungaku">文学部</a><h1>
<h1><a href="/kyoiku">教育学部</a><h1>
<h1><a href="/hou">法学部</a><h1>
<h1><a href="/keizai">経済学部</a><h1>
<ul>
<h1>情報学部<h1>
<li><a href="/sizen">自然情報学科</a></li>
<li><a href="/ningen">人間・社会情報学科</a></li>
<li><a href="/konpixyuta">コンピュータ科学学科</a></li>
</ul>
</div>