<div align="center">
  <form action="/signin" method="post">
    <h1>ログイン</h1>
    <div>
      <%# <div class="form-group"> %>
        <p>ID</p>
        <input class="form" name="name" placeholder="ID名"><br>
        <p>パスワード</p>
        <input class="form" name="password" type="password" placeholder="パスワード"><br>
        <input class="form-submit" type="submit" value="サインイン">
    </div>
  </form>
</div>